<h2>Candidate Dashboard</h2>
<hr>

<form method="get">
  <input type="text" name="search" placeholder="Search jobs..."
         value="{{ search_query }}">
  <button type="submit">Search</button>

  
  <select name="location">
    <option value="">All Locations</option>

    {% for loc in locations %}
        <option value="{{ loc }}"
            {% if selected_location == loc %}selected{% endif %}>
            {{ loc }}
        </option>
    {% endfor %}
  </select>



  <button type="submit">Filter</button>
</form>


<hr>

{% for job in page_obj %}

  
  <div style="margin-bottom:25px; border-bottom:1px solid #ccc; padding:10px;">

    <h3>{{ job.title }}</h3>

    <p>
      <strong>Company:</strong> {{ job.company }} <br>
      <strong>Location:</strong> {{ job.location }}
    </p>

    <p>{{ job.description }}</p>

    <a href="/apply/{{ job.id }}/">Apply</a>

  </div>
  

{% empty %}
  <p>No jobs available</p>
{% endfor %}
<div>
  {% if page_obj.has_previous %}
      <a href="?page=1&search={{ search_query }}">First</a>
      <a href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&search={{ search_query }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search_query }}">Last</a>
  {% endif %}
</div>
