<h2>Recruiter Dashboard</h2>

<a href="/create/">Post Job</a> |
<a href="/applicants/">View Applicants</a>

<hr>

{% for job in jobs %}
  <div style="margin-bottom:25px; border-bottom:1px solid #ccc; padding:10px;">

    <h3>{{ job.title }}</h3>

    <p>
      <strong>Company:</strong> {{ job.company }} <br>
      <strong>Location:</strong> {{ job.location }}
    </p>

    <p>{{ job.description }}</p>

    <small>Posted on {{ job.created_at }}</small>

  </div>

{% empty %}
  <p>You haven’t posted any jobs yet.</p>
{% endfor %}
